.menu{
    box-sizing:border-box;
    width: 50%;
    float: left;
    overflow: auto;
  }
  
  .logo{
   box-sizing:border-box;
    width:50%;
    float: left;
    overflow: auto;
  
  }
  
  .menu li{
    float: left;
    /*box-sizing: border-box;
    width: 25%;*/
    text-align: center;
    list-style-type: none;
    /*font-size : 10%;
      background-color: #7158e2;
  border:1px solid black;*/
  }
  
  .menu li:nth-of-type(even){
    background-color: #B0ABC3;
  }
  
  .menu li:nth-of-type(odd){
    background-color: #C2D4D8;
  }
  
  .menu a{
      text-decoration: none;
      display: block;
      padding: 20px;
      color: blue;
  
  }
  
  .menu ul{
    overflow-y: auto;
  }
  
  main{
    clear:left;
    margin-top: 20 px;
  
  }
  
 /* .formulaire{
      box-sizing:border-box;
      
     
      
  }*/
  
  main form {
    
    /*border: 1px solid #ccc;
    padding-left: 5px ;
  margin-right: 100px;*/
   margin:auto;
      width:50%;
   /*border:1px solid black;*/
   padding: 15px;
   
  
  }
  
  main form input[type=text], textarea{
    width:90%;
    height:20%;
    padding:7px;
   
    position:relative;
    left:10px;
    border:2px solid #ccc;
    -webkit-border-radius:5px;
    border-radius:5px;
  }
  
  main form  input[type=password]{
    width:90%;
    height:20%;
    padding:7px;
    border:2px solid #ccc;
    -webkit-border-radius:5px;
    border-radius:5px;
	position:relative;
    left:10px;
  }

  main form  input[type=submit], input[type=reset] {
  
    padding:5px 15px;
    background:  #C2D4D8;
    color:blue;
    border: 0 none;
    
    position :relative;
    left:150px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin :auto;
    
  
  }

main form p{
	 
}

  /*main form h3{
	
	margin:auto;
	width:50%;
	position:relative;
	left:20px;

   }*/
  
  main form  input[type=reset]{
    margin-left: 10px;
  }
  
  .banniere{
    overflow-y: auto;
    /* border:1px solid black;*/
  }
  
  p span {
    color : red;
  }
  
  main a p{
    color:black;
  } 
  
  main {
  width: 50em;
  margin: auto;
 padding: 40px;
  /*background-color: white;
  box-shadow: 1px 1px 1px 1px gray;*/
  margin-top:20px;
  font-family: sans-serif;
}

body{
  
}

header{
   width: 60em;
  margin: auto;
}

  
.liste li:nth-of-type(even){
  background-color: rgb(233, 233, 233);
}

.liste li:nth-of-type(odd){
  background-color: #C2D4D8;
}

.chant a{
  text-decoration: none;

}

.chant a:link{
  color:white;

}

.chant li{
  display:inline; 
  width:50%; 
  vertical-align:top;
  border:1px solid gray;
  border-radius:4px;
  height:10em;
  padding: 5px;
  background-color: gray;
}

.chant{
  margin:auto;
   width:500px;
}

.chant div{
  display:inline-block; 
  width:50%;
  vertical-align: top;
}

.chant span{
  text-decoration: underline;
}

.chant img{
  width:90px; 
  height:90px;
  float:left;
  vertical-align:middle;
}

.liste{
  margin:auto; 
  width:800px;
}

.liste li{
  list-style-type:none; 
  height:74px; 
  border: 1px solid white;
  box-sizing:border-box; 
  display:inline-block; 
  vertical-align:top; 
  width:50%;
}

.liste a{
  text-decoration:none;
}

.liste a:link{
  color:black;
}

.liste img{
  width:70px; 
  height:70px;
  float:left;
  vertical-align:middle;
}

.liste div{
  position:relative;
  left:5px;
  
}

.liste h5{
  position:relative;
  bottom:15px;
}

li{
  list-style-type:none;
}

.pied{
  box-sizing:border-box;
  overflow:auto;
  font-size:small;
  font-weight: bold;
  position:relative;


}

.infos, .newsletter, .recherche{
  box-sizing:border-box;
  float:left;
  width:33.33%;
  overflow: auto;
}

small{
  clear:left;
  position: relative;
  left:600px;
  font-size: 1em;
  
}

.infoslib{
  box-sizing:border-box;
float: left;
 width: 25%;  
}

.pfacebook, .agmail, .ctwit{
  box-sizing:border-box;
float: left;
 width: 7%; 
}

.libnewsletter, .librech{
  box-sizing:border-box;
 float:left;
  width:35%;
}

.librech{
  position: relative;
  right:46px;
}

.iconenewsletter{
  box-sizing:border-box;
 float:left;
  width:2%;
}

.recherche li{
  box-sizing:border-box;
 float:left;
  width:3.7%;
}

.bloc{
  background-color: white;
  margin: auto;
  width:80em;
}
  
  
  
  