body {
  width: 60em;
  margin: auto;
  padding: 40px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px gray;
  margin-top:20px;
  /*font-family: sans-serif;*/

}

.menu{
  border-sizing:border-box;
  width: 50%;
  float: left;
  overflow: auto;
}

.logo{
  border-sizing:border-box;
  width:50%;
  float: left;
  overflow: auto;

}

.menu li{
  float: left;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  list-style-type: square;
  font-size = 10%;
  /*  background-color: #7158e2;
border:1px solid black;*/
}

.menu li:nth-of-type(even){
  background-color: #B0ABC3;
}

.menu li:nth-of-type(odd){
  background-color: #C2D4D8;
}

.menu a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: blue;

}

.menu ul{
  overflow-y: auto;
}

main{
  clear:left;
  margin-top: 20 px;

}

main form {
  box-sizing: border-box;
  /*border: 1px solid #ccc;*/
  padding-left: 5px ;
margin-right: 100px;
}

main form input[type=text]{
  width:50%;
  height:20%;
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius:5px;
  border-radius:5px;
}

main form  input[type=password]{
  width:50%;
  height:20%;
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius:5px;
  border-radius:5px;
}
main form  input[type=submit]{
  padding:5px 15px;
  background: #ccc;
  border: 0 none;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.banniere{
  overflow-y: auto;
  /* border:1px solid black;*/
}

p span {
  color : red;
}
